<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link">
    <img
        src="assets/img/logo.png"
        alt="AdminLTE Logo"
        class="brand-image img-circle elevation-3"
        style="opacity: 0.8"
    />
    <span class="brand-text font-weight-light">Device Service</span>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3">
        <div class="info">
            <a [routerLink]="['/profile']" class="d-block">
                <p>Welcome {{ user.username }}</p>
            </a>
        </div>
    </div>

    <!-- Sidebar Menu -->
    <!--I know it's not true-->
    <nav *ngIf="roles==='Admin' || roles==='Admin,User'" class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
            
           
        >
            <app-menu-item
                
                *ngFor="let item of menu"
                [menuItem]="item"
  
            ></app-menu-item>
        </ul>
    </nav>
</div>
