.custom-file {
    width: 20%;
    margin-left: 10px;
}

button {
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 90%;
}
.mat-form-field {
    width: 25%;
}

.mat-raised-button{
    width: 101%;
    height: 60px;
    top: -8px;
}

// .make-gold {
//     background-color: rgba(58, 47, 47, 0.179)
// } 


