.custom-file {
    width: 20%;
    margin-left: 10px;
}

button {
    margin-left: 10px;
}

h1 {
    margin-left: 10px;
}

table {
    width: 100%;
}

.mat-elevation-z8 {
    width: 100%;
}
.search {
     width: 30%;
     height: -50%;
     left: 63%;
     top: 20px;
 }

.mat-raised-button{
     width: 101%;
     height: 60px;
     top: -8px;
}
.label{
    font-size: large;
    color: rgb(53, 53, 14);
    left: 250px;
}
.container-fluid{
    margin: auto;
    left: 100px;
}
.header{
    border-width: 5px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
}
.innerin{
    
    width: 200px;
    height: 250px;
    overflow: scroll;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.inner{
    width: 1000px;
    height: 100px;
}
info-box-icon bg-warning{
    width: 50px;
    height: 150px;
}

.info-box{
    flex: 1;
    
}

.float-container{
    display: flex;
}
.uploadFile{
    margin-left: 30px;
    margin-bottom: 20px;
    width: 83%;
    border-width: 5px;
    border-color: rgb(255, 251, 251);
    border-style: groove;
    
    
}
