<app-dropdown class="user-menu">
    <ng-container dropdown-button>
        <p>{{ user.email }}</p>
    </ng-container>
    <ng-container dropdown-menu>
        <li class="user-header bg-secondary">
            <p>
                <span>{{ user.email }}</span>
            </p>
        </li>
        <!-- Menu Footer-->
        <li class="user-footer">
            <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
                Profile
            </a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right"
                >Sign out</a
            >
        </li>
    </ng-container>
</app-dropdown>
